.DS_Store
.env
.venv/
__pycache__/
.tinyworld-ai-logs/
.grok/
node_modules/
*.log
/.playwright-mcp
/reference
dist/
*.zip

# Local Netlify folder
.netlify
.claude/worktrees/agent-a17895f4/
.claude/worktrees/agent-a35bb1ef/
.claude/worktrees/agent-a6b44378/
